# Allow access to VMs without asking for confirmation
# This is only a school example, do not use this in production
[defaults]
host_key_checking = False
deprecation_warnings = False
interpreter_python = %(VIRTUAL_ENV)s/bin/python3

[inventory]
enable_plugins = aws_ec2, host_list, script, auto, yaml, ini, tombl
