# Allow access to VMs without asking for confirmation
# This is only a school example, do not use this in production
[defaults]
host_key_checking = False
deprecation_warnings = False
interpreter_python = auto_silent

[inventory]
enable_plugins = aws_ec2, host_list, script, auto, yaml, ini, tombl
